* {
	margin: 0;
	padding: 0;
}

body{
	background-color: #22313F;
}

#keys{
    height: 116px;
    width: 672px;
    padding-right: 10px;
    padding-top: 50px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.box {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    float:left;
	border-radius: 10px;
	display: block;
	-webkit-transition: all .15s ease-out; 
	transition: all .15s ease-out;
}

#a {
    background-color: #E040FB;
    box-shadow: 0px 6px 0px #AA00FF;
} 

#b {
    background-color: #7C4DFF;
    box-shadow: 0px 6px 0px #6200EA;
}

#c {
    background-color: #448AFF;
    box-shadow: 0px 6px 0px #2962FF;
}

#d {
    background-color: #9CCC65;
    box-shadow: 0px 6px 0px #2E7D32;
}

#e {
    background-color: #FFF176;
    box-shadow: 0px 6px 0px #FFD600;
}

#f {
    background-color: #FFB74D;
    box-shadow: 0px 6px 0px #FF9100;
}

#g {
    background-color: #FF7043;
    box-shadow: 0px 6px 0px #F4511E;
}

.box:active {
	box-shadow: none;
	margin-top: 5px;
}


#a:active {
	background-color: #AA00FF;
}
  
#b:active {
	background-color: #6200EA;
}
  
#c:active {
	background-color: #2962FF;
}
  
#d:active {
	background-color: #2E7D32;
}
  
#e:active {
	background-color: #FFD600;
}
  
#f:active {
	background-color: #FF9100;
}
  
#g:active {
	background-color: #F4511E;
}